body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.border {
    border: 1px dashed #E7BC6C;
    margin: 7px;
}

.socials i {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px dashed #E7BC6C;
    border-radius: 50%;
    background: #ffffff;
    text-align: center;
    line-height: 50px;
}

.section-inner {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 50px;
}

header {
    background: #f6f5f2;
}

header .section-inner {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

header a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header .logo-wrapper {
    background: #ffffff;
    width: 286px;
    height: 286px;
    border-radius: 50%;
    margin-top: -20px;
    box-sizing: border-box;
}

header .logo-wrapper .border {
    border-radius: 50%;
    height: calc(100% - 14px);
    box-sizing: border-box;
}

header .logo-wrapper img {
    margin: 140px auto 0;
    display: block;
}

.s1 {
    background: url("img/s1.bg.jpg") center no-repeat;
    height: 780px;
}

.s1 h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.s1 h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: normal;
}

.s1 h3 {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: normal;
}

.s1 .b {
    font-size: 30px;
}

.s1 .front {
    text-align: center;
    padding: 150px 0 90px;
}

.s1 .play-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 .play-wrapper:before,
.s1 .play-wrapper:after {
    content: '';
    background: #ffffff;
    width: 150px;
    height: 2px;
}

.s1 .play {
    display: block;
    background: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 25px;
}

.s1 .play .border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 14px);
    border-radius: 50%;
    box-sizing: border-box;
}

form {
    border: 1px solid white;
    background: white;
    width: 980px;
    text-align: center;
}

form .border {
    display: flex;
    align-items: center;
    padding-left: 55px;
}

form .border > div:first-child * {
    text-align: left;
}

.border h3 {
    font-weight: normal;
    color: black;
    font-size: 36px;
    margin: 50px 0 20px;
}

form p {
    font-size: 18px;
    margin: 0 0 50px;
}

form a {
    font-size: 20px;
}

.s1 form {
    border: white;
    margin: 20px 60px 20px;
    display: inline-block;
}

form input {
    font-size: 16px;
    padding-left: 30px;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #f3f1ed;
    box-sizing: border-box;
}

.s2 {
    background: #f6f5f2;
    padding: 1px 0 0;
}

.s2 h2 {
    margin: 150px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s2 .collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.context .border {
    display: flex;
    background: #ffffff;
}

.context .border div {
    width: 33.33%;
    text-align: center;
}

.context .border div h3 {
    margin: 10px 0 0;
    font-weight: normal;
}

.s2 .context {
    width: 460px;
    background: #ffffff;
    position: relative;
    margin: -100px auto 50px;
    padding: 1px 0;
}

.s2 .context h3 {
    font-size: 36px;
    color: #5ead3c;
}

.s2 .context h4 {
    font-size: 16px;
    margin: 10px 0 0;
}

.s2 .context p {
    font-size: 14px;
    margin: 0 0 20px;
}

.s2 .btn {
    display: block;
}

.btn {
    display: inline-block;
    line-height: 45px;
    text-align: center;
    width: 350px;
    height: 45px;
    background: #5ead3c;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 18px auto 0;
    border-radius: 25px;
}

.btn:hover {
    background: #105405;
}

.s3 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s3 .context {
    width: 700px;
    float: right;
}

.s3 h3 {
    font-size: 40px;
}

.s3 h5 {
    font-size: 16px;
    color: #aeaeae;
}

.socials {
    margin: 20px 0 30px;
    font-size: 20px;
}

.socials a {
    padding: 0 10px;
    text-decoration: none;
    color: #ffc155;
}

.s3 p {
    font-size: 16px;
    color: #aeaeae;
}

.s4 {
    background: url("img/s4.bg.jpg") center no-repeat;
    height: 480px;
}

.s4 form {
    display: inline-block;
    margin: 130px;
}

.s5 {
    padding: 1px;
    background: #f6f5f2;
}

.s5 .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s5 .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    border: 1px solid white;
    background: white;
}

.s5 .border {
    text-align: left;
    padding-left: 15px;
}

.s5 .working {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.s5 .working div > {
    display: flex;
    box-sizing: border-box;
    width: 340px;
    height: 100px;
}

.s5 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s5 h3 {
    margin: 40px 0 20px;
    font-size: 60px;
    color: #5ead3c;
}

.s5 .discount span {
    display: block;
    font-size: 16px;
    margin: 10px 0 40px;
    color: #979797;
}

.s5 .price-b img {
    position: relative;
    top: 20px;
    left: -10px;
}

.s5 .price-b span {
    display: inline-flex;
    width: 320px;
    margin: 0 0 50px;
}

.s5 span {
    font-size: 16px;
}

.s6 {
    background: url("img/s6.bg.jpg") center no-repeat;
    height: 480px;
}

.s6 form {
    display: inline-block;
    margin: 130px;
}

.s7 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s7 .border-i {
    margin-top: -90px;
    background: #ffffff;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}
.s7 .border-i div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed green;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s7 .border-orange div {
    border-color: orange;
}

.s7 .plan {
    width: 46%;
    text-align: center;
    background: #e8f3e4;
}

.s7 .plan-c {
    width: 46%;
    text-align: center;
    background: #f0eee8;
}

.s7 .plan .border,
.s7 .plan-c .border {
    box-sizing: border-box;
    height: calc(100% - 14px);
    background: #f6f5f2;
    padding: 24px;
}

.s7 .plan .border {
    border: 1px solid #ddf1d4;
}

.s7 .plan-c .border {
    border: 1px solid #f3ebde;
}

.s7 .wedding {
    display: flex;
    justify-content: space-between;
}

.s7 h3 {
    font-size: 30px;
}

.s7 p {
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    position: relative;
}

.s7 p:before, .s7 p:after {
    position: absolute;
    content: '';
    left: -20px;
    top: 7px;
}

.s7 p:before {
    width: 6px;
    height: 6px;
    background: green;
    border-radius: 50%;
}

.s7 p:after {
    height: calc(100% + 12px);
    border-left: 1px dashed green;
    margin: 5px 0 0 2px;
}

.s7 p:last-child:after {
    display: none;
}

.s7 h5 {
    text-align: center;
    font-size: 20px;
    color: #5ead3c;
    text-decoration: underline;
}

.s8 {
    padding: 1px;
    background: #f6f5f2;
}

.s8 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s8 img {
    margin: 0 0 0 50px;
}

.s8 .context {
    margin: 50px 80px 0 0;
    float: right;
    font-size: 18px;
    border: 1px solid white;
    background: white;
    width: 320px;
    height: 100%;
    text-align: left;
}

.s8 .context .border {
    display: block;
    padding-left: 60px;
}

.s8 h3 {
    font-size: 48px;
    color: #5ead3c;
    margin: 40px 0 0;
}

.s8 h4 {
    font-size: 36px;
    margin: 0 0 50px;
}

.s8 h6 {
    font-size: 16px;
    margin: 0 0 20px;
}

.s9 {
    background: url("img/s9.bg.jpg") center no-repeat;
    height: 480px;
}

.s9 form {
    display: inline-block;
    margin: 130px;
}

.s10 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s10 .section-inner {
    text-align: center;
}

.s10 img {
    margin-top: -70px;
}

.s10 h4 {
    font-size: 18px;
}

.s10 p {
    font-size: 18px;
    color: #979797;
    padding: 0 60px;
}

.s10 > div {
    width: 700px;
}

.s10 .socials {
    font-size: 20px;
    color: #ffc155;
    display: inline-block;
    margin-bottom: -25px;
    vertical-align: bottom;
}

.s11 {
    background: #f6f5f2;
}

.s11 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s11 h4 {
    font-size: 30px;
    text-align: right;
    width: 400px;
}

.s11 p {
    font-size: 16px;
    text-align: left;
    width: 400px;
}

.s11 .section-inner {
    padding: 1px;
    text-align: center;
}

.s11 .contract {
    text-align: center;
}

.s11 img {
    margin: 0 25px 0 25px;
}

.s11 .payment {
    text-align: center;
    margin: 0 auto;
}

.s11 .payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
    position: relative;
}

.s11 .payment:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 90%;
    border-left: 1px dashed #E7BC6C;
    height: 50%;
}

.s11 .payment:last-child:after {
    display: none;
}

.s12 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s12 .collage {
    display: flex;
    justify-content: space-between;
}

.s12 .photo {
    max-width: 370px;
}

.s12 .photo p {
    font-size: 18px;
    text-align: center;
}

.s12 .e {
    color: #5ead3c;
}

.s12 .btn {
    text-align: center;
    display: block;
}

.s13 {
    padding: 1px;
    background: #f6f5f2;
}

.s13 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: #aeaeae;
}

.s13 .context {
    float: right;
    margin: 20px 200px 0 0;
}

.s13 img {
    margin: 0 0 0 200px;
}

.s13 h3 {
    font-size: 40px;
    color: #aeaeae;
}

.s13 .socials a {
    color: #ffc155;
}

.s13 a {
    font-size: 24px;
    color: #aeaeae;
    text-decoration: none;
    line-height: 2;
}

.s13 i {
    font-size: 20px;
    color: #ffc155;
}

.s14 {
    padding: 1px;
    background: #f6f5f2;
}

.s14 h2 {
    margin: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.s14 .btn {
    text-align: center;
    display: block;
    margin: 50px auto 50px;
}

.s14 img {
    width: 300px;
    height: 300px;
    padding: 15px;
}

.s14 .photo {
    text-align: center;
}

footer .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
}

footer p {
    font-size: 20px;
}

footer a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

footer i {
    font-size: 20px;
    color: #ffc155;
}

.blog-s1 {
    background: url("img/blog.img.bg.jpg") center no-repeat;
    height: 365px;
}

.blog-s1 h1 {
    margin: 0;
    padding: 140px 0 0 0;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: normal;
}

.blog .c {
    word-spacing: 30px;
    color: #aeaeae
}

.blog-s1 h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

.blog h3 {
    text-align: center;
    font-size: 24px;
    margin: 70px;
}

.blog .collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog .photo {
    max-width: 370px;
}
.blog .photo img {
    padding: 0 0 10% 0;
}

.blog .photo p {
    text-align: center;
    font-size: 18px;
}

.blog h4 {
    text-align: center;
    font-size: 20px;
    margin: 50px 0 100px 0;
    color: #5ead3c;
}