* {
  outline: none;
}

section {
  padding: 50px 0;
}

section {
  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 30px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 14px;
    color: #a3a3a3;
    text-transform: uppercase;
    margin: 20px 0;
  }

  h6 {
    font-size: 15px;
    color: #000;
    margin: 10px 0;
  }
}

header {
  position: relative;

  .logo {
    position: absolute;
    left: 0;
    font-size: 30px;
    color: white;
    text-transform: none;
  }

  a {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    line-height: 45px;
    text-align: center;

    &:hover {
      color: #fce38a;
      text-decoration: none;
    }
  }
  .menu {
    .menu-inner {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @media all and (max-width: 992px) {
        flex-direction: column;
      }
    }
    @media all and (max-width: 992px) {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      max-width: 100%;
      z-index: 2;
      background: #ff705c;
    }
  }

  & > a:not(.logo):not(.hamburger) {
    &:hover:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: -3px;
      background: #fce38a;
    }
  }
  .close {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    opacity: 1;
    .fa-times {
      color: #fff;
    }
  }
  .hamburger, .close {
    display: none;
    @media all and (max-width: 992px) {
      display: block;
    }
  }

  i {
    font-size: 15px;
  }

  & > :last-child a:last-child {
    margin-left: 20px;
  }
}

.line-bottom {
  &:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 20px auto;
  }
}

.line-left {
  &:before {
    content: '';
    width: 60px;
    height: 3px;
    vertical-align: middle;
    display: inline-block;
    background: #f38181;
    margin: -2px 12px 0 0;
  }
}

.s1 {
  background: url("img/s1.img-bg.jpg") center no-repeat;
  min-height: 1000px;

  &-slider {
    height: 900px;

    a {
      border: 3px solid white;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      min-width: 160px;
      text-transform: uppercase;
      background: none;
      color: white;
      font-size: 14px;
      text-decoration: none;
      margin: 30px auto;

      &:hover {
        background: #ffffff;
        color: #e7c17d;
      }
    }
  }

  h1 {
    font-size: 150px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    @media all and (max-width: 1024px){
      font-size: 110px;
    }
    @media all and (max-width: 640px){
      font-size: 80px;
    }
  }

  h2 {
    font-size: 72px;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

  .line-bottom:after {
    background: #ffffff;
  }
}

.s2 {
  img {
    width: 100%;
  }

  p {
    font-size: 15px;
    color: #b5b5b5;
    margin-bottom: 90px;
  }
}

.s3 {
  background: #95e1d3;
  padding-bottom: 90px;

  h3 {
    font-size: 72px;
    color: white;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
  }
}

.s4 {
  h2 {
    margin-bottom: 50px;
  }

  h5 {
    font-size: 14px;
    text-transform: uppercase;
  }

  i {
    margin-top: 20px;
    font-size: 40px;
    color: #beede4;
  }

  p {
    font-size: 15px;
    color: #a3a3a3;
    margin-bottom: 90px;
  }
}

.s5 {
  background: url("img/img.s5.bg.jpg") center no-repeat;
  padding-bottom: 0;

  img {
    max-width: 100%;
  }

  .row {
    height: 685px;
    position: relative;

    .mobile {
      position: absolute;
      left: 50%;
      bottom: -90px;
      margin-left: 140px;
      @media all and (max-width: 920px) {
        margin-left: -137px;
      }
    }
  }
}

.s6 {
  i {
    font-size: 40px;
    color: #a4e5d9;
    margin-top: 10px;
  }

  p {
    margin-bottom: 50px;
    color: #bebebe;
  }

  h3 {
    margin-top: 50px;
  }
}

.s6-a {
  background: #f8f8f8;
  min-height: 290px;

  p {
    font-size: 24px;
    color: #a3a3a3;
  }

  h5 {
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 0;
  }
}

.s7 {
  p {
    margin-bottom: 90px;
    color: #bebebe;
  }

  img {
    width: 100%;
  }
}

.s8 {
  background: #f8f8f8;

  img {
    width: 100%;
  }
}

.s9 {
  img {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }

  p {
    margin-bottom: 90px;
    color: #bebebe;
  }
}

.s10 {
  &-text {
    margin-top: 20px;
  }

  h4 {
    font-size: 24px;
    color: #a3a3a3;
  }

  padding-bottom: 100px;
}

.s11 {
  background: url("img/s11.img.bg.jpg") center no-repeat;
  min-height: 830px;
  background-size: cover;

  .align-items-start {
    margin-top: 100px;
  }

  p {
    margin-bottom: 0;
    font-size: 15px;
    color: #b3b3b3;
  }

  .row .line-bottom:after {
    margin-left: 0;
  }
}

.s12 {
  img {
    width: 100%;
  }

  h6 {
    color: #bebebe;
    font-size: 15px;
  }

  h5 {
    font-size: 14px;
    text-transform: uppercase;
    color: #a4a4a4;
  }
}

.s13 {
  background: url("img/s12.img.bg.jpg") center no-repeat;
  height: 200px;

  h4 {
    color: #f38181;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.s14 {
  img {
    margin-bottom: 4px;
  }

  p {
    color: #a3a3a3;
  }

  h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
  }

  h3 {
    margin-bottom: 50px;
    color: #cdcdcd;
    font-size: 46px;
  }

  h5 {
    margin: 0 0 10px;
  }

  .col-5 img {
    margin-bottom: 30px;
  }

  h6 {
    margin-bottom: 20px;
  }

  .fab, .fas {
    margin-top: 10px;
    color: #95e1d3;
    margin-right: 5px;
  }

  form {
    font-size: 0;

    input {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      vertical-align: top;
      font-size: 14px;
      padding: 0 8px;

      &[type=text] {
        width: 210px;
      }

      &[type=button] {
        width: 120px;
        background: #56ccb9;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        border: none;


        &:hover {
          background: #1215ff;
          color: #0fffdd;
        }
      }
    }
  }
}

.carousel {
  [class^=carousel-control] {
    i {
      display: block;
      width: 15px;
      height: 15px;
      border-right: 3px solid #777;
      border-bottom: 3px solid #777;
    }
  }

  .carousel-control-prev {
    i {
      transform: rotate(135deg);
    }
  }

  .carousel-control-next {
    i {
      transform: rotate(-45deg);
    }
  }
}

footer {
  p {
    text-align: center;
    font-size: 14px;
  }

  span {
    color: #f38181;
  }

}





