* {
  outline: none;
}

@mixin hover($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 10);
  }
}

@mixin hoverIcon($c) {
  color: $c;
  &:hover {
    color: darken($c, 10);
  }
}

body {
  position: relative;
  background: #ebebeb;

  &:before {
    content: '';
    display: block;
    width: 663px;
    height: 541px;
    background: url(img/s3.img1.png) no-repeat;
    top: -140px;
    position: absolute;
    left: 50%;
    margin-left: -970px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 570px;
    background: url(img/s3.img2.png) repeat-y;
    height: calc(100% - 150px);
    width: 13px;
  }
}

.container {
  background: #ffffff;
  padding-top: 1px;
}

img:not(.logo) {
  width: 100%;
}

header {
  position: relative;
  padding-bottom: 10px;

  .btn-group {
    background: #898989;
    display: block;
    font-size: 0;
    margin-top: 20px;

    .btn {
      border-radius: 0;
      border: none;
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;

      &:last-child {
        margin-right: auto;
        background: #898989;
      }

      &:nth-child(1) {
        @include hover(#00aedb);
      }

      &:nth-child(2) {
        @include hover(#8cc63f);
      }

      &:nth-child(3) {
        @include hover(#5261ac);
      }

      &:nth-child(4) {
        @include hover(#00aedb);
      }

      &:nth-child(5) {
        @include hover(#f78f1d);
      }

      &:nth-child(6) {
        @include hover(#ff0000);
      }

      &:nth-child(7) {
        @include hover(#898989);
      }
    }
  }

  input {
    width: 244px;
  }

  form {
    display: inline-block;
    label {
      float: left;
      margin-right: -1px;
      margin-bottom: 0;
    }
  }

  .col-3, .col-6 {
    padding-top: 10px;
  }

  .fa-twitter-square {
    font-size: 40px;
    @include hoverIcon(#00bff3);
  }

  .fa-wifi {
    font-size: 40px;
    @include hoverIcon(#f78f1d);
  }

  .fa-facebook-square {
    font-size: 40px;
    @include hoverIcon(#1e2059);
  }

  .socials {
    text-align: right;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .btn-2 {
    width: 100px;
    font-size: 17px;
    background: #00aedb;
    color: white;
    text-transform: uppercase;
    height: 30px;
    border: none;
    font-weight: bold;

    &:hover {
      background: #008bb3;
    }
  }

}

.carousel {
  h3 {
    text-align: left;
    text-transform: uppercase;
    color: #00bff3;
    font-size: 19px;
    margin: 10px 0;
  }

  h5 {
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    margin-top: 5px;
    padding: 5px 0 5px 30px;
  }

  //&:last-child {
  //  margin-right: auto;
  //  background: #898989;
  //}

  .row :nth-child(1) h5 {
    background: #00aedb;
  }

  .row :nth-child(2) h5 {
    background: #f78f1d;
  }

  .row :nth-child(3) h5 {
    background: #ec098d;
  }
}

.s2 {
  h3 {
    font-size: 19px;
    text-transform: uppercase;
    background: #5261ac;
    color: white;
    padding: 10px;
  }

  h5 {
    font-size: 15px;
    color: #00bff3;
  }

  h6 {
    font-size: 13px;
  }

  p {
    font-size: 14px;
  }
}

.s3 {
  h2 {
    font-size: 35px;
  }

  p {
    font-size: 14px;
  }

}

.col-5 h3 {
  display: inline-block;

  &:after {
    content: '';
    border: 21px solid transparent;
    border-left-color: #5261ac;
    border-bottom-color: #5261ac;
    right: -52px;
    position: relative;
    font-size: 0;
    top: -8px;
  }
}

.col-5 h4 {
  font-size: 17px;
  border: 1px solid white;
  background: #5261ac;
  padding: 10px;
  color: white;
}


.col-7 h2 {
  font-size: 35px;
  line-height: 47px;

  .date {
    display: inline-block;
    margin-left: -70px;
    color: #ffffff;
    text-align: right;
    float: left;
    line-height: 10px;
    margin-top: 13px;

    .number {
      padding: 0 10px;
      background: #f78f1d;
      display: block;
      line-height: 47px;
    }

    .month {
      font-size: 19px;
      text-transform: uppercase;
      padding: 0 12px;
      background: #00aedb;
    }

  }
}

footer {
  .container {
    background: url("img/s3.img4.png") no-repeat top center;
    background-size: contain;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
  }
}

#pills-FASHION-tab {
  background: #ec098d;

  &:after {
    border-top-color: #ec098d;
  }
}

#pills-CINEMA-tab {
  background: #f78f1d;

  &:after {
    border-top-color: #f78f1d;
  }
}

#pills-TELEVISION-tab {
  background: #00aedb;

  &:after {
    border-top-color: #00aedb;
  }
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #ffffff;
  position: relative;
}

.nav-pills .nav-link.active {
  &:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -5px;
  }
}

.nav-pills li {
  width: 33.33%;
  text-align: center;
}

.carousel {
  margin: 0 -18px;
}

.carousel-inner {
  padding: 0 18px;
}

.carousel-control-next, .carousel-control-prev {
  width: 2.5%;
  top: auto;
  bottom: 54px;
}

.carousel-control-prev {
  &:before {
    content: '';
    border: 16px solid transparent;
    border-right-color: #00aedb;
    margin-left: -28px;
  }
}

.carousel-control-next {
  &:before {
    content: '';
    border: 16px solid transparent;
    border-left-color: #ec098d;
    margin-right: -28px;
  }
}

#tagcloud {
  [rel='12'] {
    color: #f8962c !important;
  }

  [rel='12'],
  [rel='10'] {
    font-weight: bold !important;
  }
}

.archive {
  p {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    position: relative;

    &:before {
      content: '';
      border: 6px solid transparent;
      border-left-color: #5463ad;
      display: inline-block;
      margin: 5px 7px 15px 5px;
      float: left;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 1px;
      background: #fff;
      bottom: -1px;
      left: 0;
    }
  }
}