body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.db {
    display: block;
}

.section-inner {
    width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

@media all and (max-width: 1170px) {
    .section-inner {
        width: 1024px;
    }
}
@media all and (max-width: 1024px) {
    .section-inner {
        width: 100%;
    }
}

header .section-inner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

@media all and (max-width: 1170px) {
    header img {
        margin-left: 20px;
    }

    header .c {
        margin-right: 20px;
    }
}

header a {

    text-decoration: none;
    font-size: 14px;
    color: #adadad;
    text-transform: uppercase;
    padding: 10px;
}

header .c :hover {
    background: #ffc155;
    color: white;
}

.s1 {
    background: #709dca;
    margin-bottom: 150px;
}

.s1 .section-inner {
    text-align: center;
}

.s1 h1 {
    font-weight: normal;
    margin: 0;
    font-size: 35px;
    color: white;
    padding: 50px 0 0;
    text-transform: uppercase;
}

.s1 p {
    font-size: 18px;
    color: white;
    margin: 0 0 30px;
}

.s1 input {
    width: 250px;
    height: 50px;
}

@media all and (max-width: 1170px) {
    .s1 input {
        width: 200px;
    }
}

.s1 .fas {
    position: absolute;
    margin-left: 12px;
    margin-top: 48px;
    color: #adadad;
}

.s1 .btn {
    height: 52px;
    line-height: 52px;
}

.s1 img {
    margin: 30px 0 -70px;
}

.s2 h2 {
    margin: 90px 0 10px 0;
    text-align: center;
    font-size: 30px;
    color: #adadad;
    text-transform: uppercase;
}

.s2 h4 {
    text-align: center;
    font-size: 18px;
    color: #adadad;
    margin: 0 0 30px 0;
}

.s2 h5 {
    font-size: 16px;
    color: #869298;
    text-transform: uppercase;
}

.s2 p {
    color: #869298;
    font-size: 13px;
    line-height: 20px;
}

.s2 .context {
    width: 460px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}

@media all and (max-width: 1170px) {
    .s2 .context {
        width: 350px;
    }
}
@media all and (max-width: 930px) {
    .s2 .context {
        width: 36%;
    }
}

.s2 .context i {
    position: absolute;
    top: 30px;
    left: -60px;
    font-size: 40px;
}

.s2 .list-context {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s2 .list-context {
    margin: 50px 0;
}

.s3 {
    position: relative;
    background: #ffc155;
}

.s3:after {
    content: '';
    display: block;
    clear: both;
}

.s3 .write-ap {
    width: 450px;
    height: 300px;
}

.s3 .write-ap {
    float: right;
    margin: 160px 0;
}

.s3 img {
    width: 650px;
    height: 620px;
    position: absolute;
    right: 50%;
}

.s3 h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.s3 p {
    font-size: 14px;
    color: white;
    line-height: 25px;
}

.s3 a {
    border: 1px solid brown;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.s4 {
    background: #e7edf3;
}

.s4 h2 {
    margin: 0;
    padding: 80px 0 0 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #869298;
    font-weight: bold;
}

.s4 h4 {
    margin: 10px 0 50px 0;
    text-align: center;
    font-size: 18px;
    color: #869298;
}

.s4 .price h3 {
    font-size: 25px;
    color: #394b50;
}

.s4 h6 {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: #adadad;
}

.s4 .premium-plan h6 {
    color: white;
}

.s4 .price .e {
    font-size: 60px;
    color: #ffc155;
}

.s4 .price sup {
    font-size: 30px;
}

.s4 .price {
    text-align: center;
    width: 370px;
    height: 450px;
    padding: 18px;
    box-sizing: border-box;
    align-items: center;
    background: #ffffff;
    margin-bottom: 100px;
}

@media all and (max-width: 1170px) {
    .s4 .price {
        width: 300px;
    }
}
@media all and (max-width: 980px) {
    .s4 .price {
        width: 32%;
    }
}
@media all and (max-width: 780px) {
    .s4 .price {
        width: 100%;
    }
}

.s4 .price.premium-plan {
    background: #7777cc;
    height: 500px;
}

.s4 .price.premium-plan h3 {
    color: white;
}

.s4 .price.premium-plan span {
    color: white;
}

.s4 .price span {
    display: block;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    color: #adadad;
}

.s4 a {
    border: 1px solid #ffc155;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.s4 .premium-plan .btn {
    margin-top: 54px;
}

.s4 .catalog-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.s5 .section-inner {
    padding-bottom: 70px;
}

.s5 h2 {
    margin: 80px 0 0 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #acacac;
}

.s5 h5 {
    margin: 10px 0 90px 0;
    text-align: center;
    font-size: 18px;
    color: #acacac;
}

.s5 h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #acacac;
}

.s5 p {
    font-size: 13px;
    color: #acacac;
    line-height: 20px;
}

.s5 .step {
    text-align: center;
    width: 240px;
    height: 280px;
}

@media all and (max-width: 1170px) {
    .s5 .step {
        width: 200px;
    }
}
@media all and (max-width: 930px) {
    .s5 .step {
        width: 46%;
    }
}

@media all and (max-width: 1170px) {

}


@media all and (max-width: 768px) {
}

.s6 .client {
    width: 410px;
}

.s5 .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works > img {
    margin-left: -64px;
    margin-top: -280px;
    margin-right: -64px;
}
@media all and (max-width: 930px) {
    .works > img {
        display: none;
    }
}

.works > img:nth-of-type(2) {
    transform: rotate(180deg);
    margin-top: -160px;
}

.s5 .btn {
    display: block;
}

.btn {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    width: 160px;
    text-transform: uppercase;
    background: #ffc155;
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 30px auto;
}

.btn:hover {
    background: #cb9845;
}

.s6 h2 {
    margin: 0;
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.s6 h5 {
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 10px 0 50px;
}

.s6 {
    background: #ffc155;
}

.s6 .client h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #acacac;
}

.s6 .e {
    color: #ffc155;
}

.s6 p {
    font-size: 13px;
    color: #acacac;
    line-height: 16px;
}

.s6 .client {
    padding: 30px;
    margin-bottom: 20px;
    width: 480px;
    height: 160px;
    background: white;
}
@media all and (max-width: 1170px) {
    .s6 .client {
        width: 420px;
    }
}
@media all and (max-width: 1024px) {
    .s6 .client {
        width: calc(50% - 70px);
    }
}
@media all and (max-width: 930px) {
    .s6 .client {
        width: 100%;
    }
}

.s6 .client img {
    float: left;
    margin: 10px 20px 30px 0;
}

.s6 .happy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.s7 {
    background: url("img/s7.bg.jpg") center no-repeat;
}

.s7 h2 {
    color: #394b50;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 100px 0 0;
}

.s7 h5 {
    color: #394b50;
    text-align: center;
    font-size: 18px;
}

.s7 h4 {
    margin: 50px 0 10px;
    color: white;
    text-align: center;
}

.s7 input {
    width: 300px;
    height: 50px;
}

.s7 .contact {
    width: 250px;
    height: 250px;
    background: #394b50;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    border-radius: 50%;
    position: relative;
}

.s7 .contact:before {
    content: '';
    position: absolute;
    bottom: -20px;
    margin-left: -10px;
    left: 50%;
    border: 10px solid transparent;
    border-top-color: #394b50;
    transform: scaleX(0.7);
}

.s7 form {
    text-align: center;
}

.s7 .btn {
    cursor: pointer;
    border: none;
    height: 54px;
    line-height: 54px;
}

.s7 input {
    border: 1px solid #394b50;
}

.s7 .fas {
    position: absolute;
    margin-left: 12px;
    margin-top: 50px;
    color: #adadad;
}

.s7 .section-inner .e {
    color: #ffc155;
}

.s7 .contact a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    line-height: 20px;
}

.s7 img {
    display: block;
    margin: 0 auto 200px;
}

footer .section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

footer .socials {
    margin: 20px 0 30px;
    font-size: 20px;
}

footer .socials a {
    padding: 0 10px;
    text-decoration: none;
    color: #6196d2;
}

footer .fa-phone {
    transform: rotate(90deg);
}

footer .socials i:hover {
    color: #c97839;
}

footer .db {
    font-size: 22px;
    color: #394b50;
}

.fa-clock {
    font-size: 36px;
    color: #c97839;
}

.fa-hat-wizard {
    font-size: 36px;
    color: #6196d2;
}

.fa-basketball-ball {
    font-size: 36px;
    color: #6196d2;
}

.fa-cog {
    font-size: 36px;
    color: #6196d2;
}

.fa-rocket {
    font-size: 36px;
    color: #6196d2
}

.fa-dollar-sign {
    font-size: 36px;
    color: #6196d2
}

.fa-headphones {
    font-size: 60px;
    color: #6196d2;
}

.fa-lock-open {
    font-size: 60px;
    color: #6196d2;
}

.fa-cloud {
    font-size: 60px;
    color: #6196d2;
}

.fa-thumbs-up {
    font-size: 60px;
    color: #6196d2;
}

input {
    padding-left: 35px;
    width: 250px;
    height: 50px;
    font-size: 16px;
    border: none;
}

footer p {
    text-align: center;
    border: 1px solid;
    background: #709dca;
    color: white;
    padding: 20px;
}

footer nav > a {
    text-decoration: none;
    margin: 0 10px 10px;
    display: inline-block;
    color: #b3babc;
}

footer .db {
    color: #b3babc;
}