body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.section-inner {
    width: 1170px;
    margin: 0 auto;
}

input {
    border: none;
}

header .section-inner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #2e2e2e;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: #2e2e2e;
    font-size: 16px;
    text-decoration: none;
    margin: 0 44px;
}

.s1 {
    height: 771px;
    background: url("img/s1-bg.png") no-repeat;
    background-size: cover;
    color: white;
}

.s1 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 4px;

}

.s1 p {
    font-size: 16px;
    letter-spacing: 1px;

}

.s1 .btn {
    width: 330px;
    height: 60px;
    font-size: 20px;
    color: white;
    background: #fb2468;
    text-decoration: none;
    line-height: 60px;
    border-radius: 30px;
    margin-top: 70px;
}

.s1 .section-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.s1-a {
    height: 825px;
    background: url("img/s1-a-bg.jpg") no-repeat;
    background-size: cover;
    color: black;
}

.s1-a .section-inner {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.s1-a h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-left: 60px;
    letter-spacing: 2px;
}
.s1-a p {
    color: #2e77cc;
}

.s1-a form {
    border: 1px solid white;
    background: white;
    border-radius: 50px;
    width: 563px;
    height: 490px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 50px;
}

.s1-a input {
    width: 330px;
    height: 60px;
    font-size: 16px;
    color: #2e77cc;
    background: #efefef;
    text-decoration: none;
    line-height: 60px;
    border-radius: 30px;
    margin-top: 60px;
    padding-left: 15px;
}

.s1-a .btn {
    width: 330px;
    height: 60px;
    font-size: 16px;
    color: white;
    background: #fb2468;
    text-decoration: none;
    line-height: 60px;
    border-radius: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.s2 {
    text-align: center;
    height: 966px;
    background: url("img/s3-bg.png") no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.s2 h1 {
    margin: 50px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    color: #2e77cc;
    letter-spacing: 6px;
}
.s2 p {
   padding: 0;
    margin-bottom: 60px;
}

.s2 .catalog-item {
    height: 360px;
    width: 270px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 12px 56px 0 rgba(28, 92, 210, 0.49);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}

.s2 .section-inner > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s2 .catalog-item a {
    width: 196px;
    height: 44px;
    font-size: 16px;
    color: white;
    background: linear-gradient(45deg, rgba(69, 174, 255, 1) 0%, rgba(78, 81, 255, 1) 100%);
    text-decoration: none;
    line-height: 44px;
    border-radius: 22px;
}

.s2 .section-inner .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.s2 .dots a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bee1ff;
    margin: 0 15px;
}
.s2 .dots a:hover,
.s2 .dots .active {
    width: 26px;
    height: 26px;
    background: #2b9efe;
    margin: 10px;
}

.s3 {
    height: 565px;
    background: url("img/s3-bg.jpg") no-repeat;
    background-size: cover;
    color: white;
}

.s3 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
}

.s3 span {
    font-size: 16px;
}

.s3 .btn {
    width: 330px;
    height: 60px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    background: #fb2468;
    text-decoration: none;
    line-height: 60px;
    border-radius: 30px;
    margin-top: 73px;
    cursor: pointer;
}

.s3 .btn-1 {
    width: 330px;
    height: 60px;
    font-size: 16px;
    color: white;
    background: white;
    text-decoration: none;
    line-height: 60px;
    border-radius: 33px;
    margin-top: 70px;
    margin-right: -337px;
    vertical-align: top;
    padding: 3px 330px 3px 20px;
    text-transform: capitalize;
}

.s3 .section-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.s4 {
    text-align: center;
    height: 1225px;
    background: url("img/s4-bg.jpg") no-repeat;
    background-size: cover;
}

.s4 img {
    margin-bottom: -40px;
    margin-top: -10px;
}

.s4 .section-inner {
    padding-top: 50px;
}

.s4 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    color: #2e77cc;
    line-height: 1.5;
   letter-spacing: 10px;
}

.s4 .advantage {
    width: 300px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}

.s4 .section-inner > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s4 .advantage p {
    letter-spacing: 2px;
    line-height: 25px;
    height: 100px;
    color: #2e77cc;
}

.s5 .section-inner {
    height: 760px;
}
.s5 .section-inner > div {
    display: flex;
    justify-content: space-between;
}
.s5 .review {
    position: relative;
}
.s5 .review a {
    width: 84px;
    height: 84px;
    display: inline-block;
    background: url("img/play-btn.png") no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.s5 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    margin-left: 430px;
    letter-spacing: 4px;
    color: #2e77cc;
}

.s5 p {
    font-size: 16px;
    margin-left: 470px;
}

.s5 .section-inner .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.s5 .dots a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bee1ff;
    margin: 0 15px;
}
.s5 .dots a:hover,
.s5 .dots .active {
    width: 26px;
    height: 26px;
    background: #2b9efe;
    margin: 10px;
}

.s6 {
    text-align: center;
    height: 774px;
    background: url("img/Untitled-1.jpg") no-repeat;
    background-size: cover;
    padding-top: 1px;
    margin-top: -200px;
}

.s6 h1 {
    padding-bottom: 50px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    color: white;
    letter-spacing: 6px;
}

.s6 .section-inner > div {
    display: flex;
    justify-content: space-between;
}

.s6 .additional-services {
    height: 379px;
    width: 273px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    box-sizing: border-box;
}

.s6 .additional-services a {
    width: 196px;
    height: 44px;
    font-size: 16px;
    color: white;
    background: linear-gradient(45deg, rgba(69, 174, 255, 1) 0%, rgba(78, 81, 255, 1) 100%);
    text-decoration: none;
    line-height: 44px;
    border-radius: 22px;

}

footer .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 169px;
    width: 100%;
    background: black;
    color: white;
    padding: 20px;
}

footer p {
    line-height: 1.5;
}
footer a {
    color: white;
    font-size: 16px;
    line-height: 2;
}
footer .section-inner > a {
    text-decoration: none;
}

